<!-- >
https://undraw.co/illustrations
<!/-->
<svg
  
   viewBox="0 0 1144 727.23"
   version="1.1"
   sodipodi:docname="undraw_wind_turbine_x2k4.svg"
   inkscape:version="1.0 (262b4497e3, 2020-09-04)">
    <metadata
     id="metadata438">
        <rdf:RDF>
            <cc:Work
         rdf:about="">
                <dc:format>image/svg+xml</dc:format>
                <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                </cc:Work>
            </rdf:RDF>
        </metadata>
        <sodipodi:namedview
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1"
     objecttolerance="10"
     gridtolerance="10"
     guidetolerance="10"
     inkscape:pageopacity="0"
     inkscape:pageshadow="2"
     inkscape:window-width="1366"
     inkscape:window-height="750"
     id="namedview436"
     showgrid="false"
     inkscape:zoom="0.54158724"
     inkscape:cx="572"
     inkscape:cy="363.61499"
     inkscape:window-x="0"
     inkscape:window-y="0"
     inkscape:window-maximized="1"
     inkscape:current-layer="e96522f1-fece-48a6-894d-75176804884c" />
            <defs
     id="defs249">
                <linearGradient
       id="e9df2e8e-6999-41c4-9621-44bffc2f2623"
       x1="241.37"
       y1="811.22"
       x2="241.37"
       y2="492.1"
       gradientUnits="userSpaceOnUse"
       gradientTransform="translate(764.43728,-133.67894)">
                    <stop
         offset="0"
         stop-color="gray"
         stop-opacity="0.25"
         id="stop242" />
                        <stop
         offset="0.54"
         stop-color="gray"
         stop-opacity="0.12"
         id="stop244" />
                            <stop
         offset="1"
         stop-color="gray"
         stop-opacity="0.1"
         id="stop246" />
                            </linearGradient>
                        </defs>
                        <title
     id="title251">wind turbine</title>
                        <path
     d="M1172,547.72a244.4,244.4,0,0,1-6.85,57.75A228.14,228.14,0,0,1,1145.89,657,147.47,147.47,0,0,1,998.24,804.67H245.17A188.29,188.29,0,0,1,77.25,701.34a.08.08,0,0,1,0,0,187.1,187.1,0,0,1-20.11-84.68C38.72,583.66,28,544.19,28,501.75c0-115.43,79.24-209,177-209,3.46,0,6.9.13,10.31.36C276.65,171.32,415,86.39,575.74,86.39c98.82,0,189.15,32.08,258.35,85.08,25.44-16.71,54.73-26.25,85.9-26.25,97.75,0,177,93.58,177,209q0,11.08-1,21.86C1141.94,413.84,1172,476.63,1172,547.72Z"
     transform="translate(-28 -86.39)"
     fill="#ff9102"
     opacity="0.1"
     id="path253" />
                            <path
     d="M603.59,291.88c-1.18,6.48-5.17,20.16-18.06,19.82-9.84-.25-17.42-8.84-17.16-18.68l3.71-134,1.21-43.7s6.38-12.09,12.73,42.11l0,.2,17.64,128.52A18,18,0,0,1,603.59,291.88Z"
     transform="translate(-28 -86.39)"
     fill="#fff"
     id="path255" />
                                <rect
     x="548.06"
     y="218.5"
     width="18.94"
     height="40.51"
     fill="#fff"
     id="rect257" />
                                    <rect
     x="550.39"
     y="249.39"
     width="14.57"
     height="17.78"
     fill="#fff"
     id="rect259" />
                                        <path
     d="M586.05,157.64c-6.63-1.93-11.14-.46-14,1.39l1.21-43.7s6.38-12.09,12.73,42.11Z"
     transform="translate(-28 -86.39)"
     fill="#ff9102"
     id="path261" />
                                            <path
     d="M595,317v28.4H576.06V317.56A25.6,25.6,0,0,1,595,317Z"
     transform="translate(-28 -86.39)"
     fill="#ff9102"
     id="path263" />
                                                <path
     d="M639.59,407.29c-5.31-3.9-15.85-13.48-9.9-24.92,4.54-8.73,15.58-11.79,24.31-7.24l118.81,62.08,38.75,20.24s8.06,11-43.44-7l-.19-.06L644.68,409.89A18.28,18.28,0,0,1,639.59,407.29Z"
     transform="translate(-28 -86.39)"
     fill="#fff"
     id="path265" />
                                                    <rect
     x="608.15"
     y="356.23"
     width="18.94"
     height="40.51"
     transform="translate(-19.51 680.17) rotate(-64)"
     fill="#fff"
     id="rect267" />
                                                        <rect
     x="592.72"
     y="359.16"
     width="14.57"
     height="17.78"
     transform="translate(1165.83 -96.27) rotate(116)"
     fill="#fff"
     id="rect269" />
                                                            <path
     d="M767.93,450.38c4.64-5.12,5.3-9.82,4.88-13.17l38.75,20.24s8.06,11-43.44-7Z"
     transform="translate(-28 -86.39)"
     fill="#ff9102"
     id="path271" />
                                                                <path
     d="M620.79,388.56l-25.53-12.45,8.3-17,25,12.2A25.59,25.59,0,0,1,620.79,388.56Z"
     transform="translate(-28 -86.39)"
     fill="#ff9102"
     id="path273" />
                                                                    <path
     d="M531.47,407.29c5.31-3.9,15.85-13.48,9.9-24.92-4.54-8.73-15.58-11.79-24.31-7.24L398.25,437.21,359.5,457.45s-8.06,11,43.44-7l.19-.06,123.25-40.49A18.28,18.28,0,0,0,531.47,407.29Z"
     transform="translate(-28 -86.39)"
     fill="#fff"
     id="path275" />
                                                                        <rect
     x="533.19"
     y="367.01"
     width="40.51"
     height="18.94"
     transform="translate(-137.03 194.33) rotate(-26)"
     fill="#fff"
     id="rect277" />
                                                                            <rect
     x="563.77"
     y="359.16"
     width="14.57"
     height="17.78"
     transform="translate(623.52 -392.94) rotate(64)"
     fill="#fff"
     id="rect279" />
                                                                                <path
     d="M403.13,450.38c-4.64-5.12-5.3-9.82-4.88-13.17L359.5,457.45s-8.06,11,43.44-7Z"
     transform="translate(-28 -86.39)"
     fill="#ff9102"
     id="path281" />
                                                                                    <path
     d="M550.27,388.56l25.53-12.45-8.3-17-25,12.2A25.59,25.59,0,0,0,550.27,388.56Z"
     transform="translate(-28 -86.39)"
     fill="#ff9102"
     id="path283" />
                                                                                        <polygon
     points="574.57 717.37 537.42 717.37 549.22 279.84 562.77 279.84 574.57 717.37"
     fill="#fff"
     id="polygon285" />
                                                                                            <circle
     cx="557.53"
     cy="274.45"
     r="12.38"
     fill="#ff9102"
     id="circle287" />
                                                                                                <path
     d="M878.67,268.82c-.79,4.38-3.49,13.63-12.21,13.4a12.19,12.19,0,0,1-11.62-12.63l2.52-90.66.81-29.56s4.32-8.18,8.62,28.49l0,.13,11.93,87A12.26,12.26,0,0,1,878.67,268.82Z"
     transform="translate(-28 -86.39)"
     fill="#fff"
     id="path289" />
                                                                                                    <rect
     x="832.05"
     y="191.22"
     width="12.81"
     height="27.41"
     fill="#fff"
     id="rect291" />
                                                                                                        <rect
     x="833.62"
     y="212.12"
     width="9.86"
     height="12.03"
     fill="#fff"
     id="rect293" />
                                                                                                            <path
     d="M866.81,178c-4.49-1.3-7.54-.31-9.45.94l.81-29.56s4.32-8.18,8.62,28.49Z"
     transform="translate(-28 -86.39)"
     fill="#ff9102"
     id="path295" />
                                                                                                                <path
     d="M872.86,285.8V305H860.05V286.19A17.29,17.29,0,0,1,872.86,285.8Z"
     transform="translate(-28 -86.39)"
     fill="#ff9102"
     id="path297" />
                                                                                                                    <path
     d="M903,346.89c-3.59-2.63-10.73-9.11-6.7-16.85a12.18,12.18,0,0,1,16.45-4.9l80.38,42,26.21,13.69s5.46,7.47-29.38-4.74l-.13,0-83.39-27.39A12.33,12.33,0,0,1,903,346.89Z"
     transform="translate(-28 -86.39)"
     fill="#fff"
     id="path299" />
                                                                                                                        <rect
     x="881.76"
     y="312.35"
     width="12.81"
     height="27.41"
     transform="translate(177.76 895.01) rotate(-64)"
     fill="#fff"
     id="rect301" />
                                                                                                                            <rect
     x="871.32"
     y="314.33"
     width="9.86"
     height="12.03"
     transform="translate(1520.3 -413.17) rotate(116)"
     fill="#fff"
     id="rect303" />
                                                                                                                                <path
     d="M989.86,376.05c3.14-3.46,3.59-6.64,3.3-8.91l26.21,13.69s5.46,7.47-29.38-4.74Z"
     transform="translate(-28 -86.39)"
     fill="#ff9102"
     id="path305" />
                                                                                                                                    <path
     d="M890.31,334.23,873,325.8l5.61-11.51,16.93,8.25A17.35,17.35,0,0,1,890.31,334.23Z"
     transform="translate(-28 -86.39)"
     fill="#ff9102"
     id="path307" />
                                                                                                                                        <path
     d="M829.88,346.89c3.59-2.63,10.73-9.11,6.7-16.85a12.18,12.18,0,0,0-16.45-4.9l-80.38,42-26.21,13.69s-5.46,7.47,29.38-4.74l.13,0,83.39-27.39A12.33,12.33,0,0,0,829.88,346.89Z"
     transform="translate(-28 -86.39)"
     fill="#fff"
     id="path309" />
                                                                                                                                            <rect
     x="831.05"
     y="319.65"
     width="27.41"
     height="12.81"
     transform="translate(-85.44 316.93) rotate(-26)"
     fill="#fff"
     id="rect311" />
                                                                                                                                                <rect
     x="851.73"
     y="314.33"
     width="9.86"
     height="12.03"
     transform="translate(741.05 -676.43) rotate(64)"
     fill="#fff"
     id="rect313" />
                                                                                                                                                    <path
     d="M743.05,376.05c-3.14-3.46-3.59-6.64-3.3-8.91l-26.21,13.69s-5.46,7.47,29.38-4.74Z"
     transform="translate(-28 -86.39)"
     fill="#ff9102"
     id="path315" />
                                                                                                                                                        <path
     d="M842.6,334.23l17.27-8.43-5.61-11.51-16.93,8.25A17.35,17.35,0,0,0,842.6,334.23Z"
     transform="translate(-28 -86.39)"
     fill="#ff9102"
     id="path317" />
                                                                                                                                                            <polygon
     points="849.99 528.74 824.73 533.18 832.83 232.73 842 232.73 849.99 528.74"
     fill="#fff"
     id="polygon319" />
                                                                                                                                                                <circle
     cx="838.46"
     cy="229.08"
     r="8.38"
     fill="#ff9102"
     id="circle321" />
                                                                                                                                                                    <path
     d="M305.51,268.82c-.79,4.38-3.49,13.63-12.21,13.4a12.18,12.18,0,0,1-11.61-12.63l2.51-90.66.81-29.56s4.32-8.18,8.62,28.49l0,.13,11.94,87A12.56,12.56,0,0,1,305.51,268.82Z"
     transform="translate(-28 -86.39)"
     fill="#fff"
     id="path323" />
                                                                                                                                                                        <rect
     x="258.89"
     y="191.22"
     width="12.81"
     height="27.41"
     fill="#fff"
     id="rect325" />
                                                                                                                                                                            <rect
     x="260.46"
     y="212.12"
     width="9.86"
     height="12.03"
     fill="#fff"
     id="rect327" />
                                                                                                                                                                                <path
     d="M293.65,178c-4.48-1.3-7.54-.31-9.45.94l.81-29.56s4.32-8.18,8.62,28.49Z"
     transform="translate(-28 -86.39)"
     fill="#ff9102"
     id="path329" />
                                                                                                                                                                                    <path
     d="M299.7,285.8V305H286.89V286.19A17.29,17.29,0,0,1,299.7,285.8Z"
     transform="translate(-28 -86.39)"
     fill="#ff9102"
     id="path331" />
                                                                                                                                                                                        <path
     d="M329.87,346.89c-3.59-2.63-10.72-9.11-6.69-16.85a12.17,12.17,0,0,1,16.44-4.9l80.38,42,26.22,13.69s5.45,7.47-29.39-4.74l-.13,0-83.38-27.39A12.39,12.39,0,0,1,329.87,346.89Z"
     transform="translate(-28 -86.39)"
     fill="#fff"
     id="path333" />
                                                                                                                                                                                            <rect
     x="308.6"
     y="312.35"
     width="12.81"
     height="27.41"
     transform="translate(-144.14 379.86) rotate(-64)"
     fill="#fff"
     id="rect335" />
                                                                                                                                                                                                <rect
     x="298.16"
     y="314.33"
     width="9.86"
     height="12.03"
     transform="translate(695.88 101.98) rotate(116)"
     fill="#fff"
     id="rect337" />
                                                                                                                                                                                                    <path
     d="M416.7,376.05c3.14-3.46,3.59-6.64,3.3-8.91l26.22,13.69s5.45,7.47-29.39-4.74Z"
     transform="translate(-28 -86.39)"
     fill="#ff9102"
     id="path339" />
                                                                                                                                                                                                        <path
     d="M317.15,334.23l-17.27-8.43,5.62-11.51,16.92,8.25A17.31,17.31,0,0,1,317.15,334.23Z"
     transform="translate(-28 -86.39)"
     fill="#ff9102"
     id="path341" />
                                                                                                                                                                                                            <path
     d="M256.72,346.89c3.6-2.63,10.73-9.11,6.7-16.85a12.18,12.18,0,0,0-16.45-4.9l-80.38,42-26.21,13.69s-5.46,7.47,29.38-4.74l.13,0,83.39-27.39A12.33,12.33,0,0,0,256.72,346.89Z"
     transform="translate(-28 -86.39)"
     fill="#fff"
     id="path343" />
                                                                                                                                                                                                                <rect
     x="257.89"
     y="319.65"
     width="27.41"
     height="12.81"
     transform="translate(-143.45 65.67) rotate(-26)"
     fill="#fff"
     id="rect345" />
                                                                                                                                                                                                                    <rect
     x="278.58"
     y="314.33"
     width="9.86"
     height="12.03"
     transform="translate(419.15 -161.28) rotate(64)"
     fill="#fff"
     id="rect347" />
                                                                                                                                                                                                                        <path
     d="M169.89,376.05c-3.13-3.46-3.58-6.64-3.3-8.91l-26.21,13.69s-5.46,7.47,29.38-4.74Z"
     transform="translate(-28 -86.39)"
     fill="#ff9102"
     id="path349" />
                                                                                                                                                                                                                            <path
     d="M269.44,334.23l17.27-8.43-5.61-11.51-16.93,8.25A17.4,17.4,0,0,0,269.44,334.23Z"
     transform="translate(-28 -86.39)"
     fill="#ff9102"
     id="path351" />
                                                                                                                                                                                                                                <polygon
     points="276.83 528.74 251.69 528.74 259.68 232.73 268.84 232.73 276.83 528.74"
     fill="#fff"
     id="polygon353" />
                                                                                                                                                                                                                                    <circle
     cx="265.3"
     cy="229.08"
     r="8.38"
     fill="#ff9102"
     id="circle355" />
                                                                                                                                                                                                                                        <path
     d="M1140.69,696A147.72,147.72,0,0,1,998.24,804.67H245.17A188.29,188.29,0,0,1,77.25,701.34a.08.08,0,0,1,0,0S186.4,550.36,469.87,649c235.34,81.89,343.89,4.45,374-24.21a33.26,33.26,0,0,1,24.5-9.08c57.67,2.73,257.44,16.71,272.35,80.27A0,0,0,0,0,1140.69,696Z"
     transform="translate(-28 -86.39)"
     fill="#fff"
     id="path357" />
                                                                                                                                                                                                                                            <ellipse
     cx="1001.5673"
     cy="665.62103"
     rx="121.92"
     ry="14.31"
     fill="#ff9102"
     opacity="0.1"
     id="ellipse359" />
                                                                                                                                                                                                                                                <path
     d="m 423.6324,642.8244 a 64.817256,64.817242 0 0 1 -3.02778,17.91758 c -0.0422,0.13461 -0.0864,0.26721 -0.13059,0.40183 h -11.29945 c 0.0121,-0.12056 0.0241,-0.25519 0.0362,-0.40183 0.75343,-8.66144 5.0972,-61.37745 -0.0965,-70.39251 0.45407,0.73134 15.39409,24.95362 14.51809,52.47493 z"
     fill="#e6e6e6"
     id="path786"
     style="stroke-width:0.474333" />
                                                                                                                                                                                                                                                    <path
     d="m 422.78458,660.74198 c -0.0944,0.13461 -0.19291,0.26922 -0.29337,0.40183 h -8.47658 c 0.0643,-0.11452 0.13863,-0.24913 0.22502,-0.40183 1.40039,-2.52751 5.54525,-10.08391 9.39275,-17.91758 4.13486,-8.41833 7.92814,-17.15613 7.60868,-20.3185 0.0984,0.71323 2.95946,22.45623 -8.4565,38.23608 z"
     fill="#e6e6e6"
     id="path788"
     style="stroke-width:0.474333" />
                                                                                                                                                                                                                                                        <rect
     x="129.25807"
     y="660.3736"
     width="324.91785"
     height="1.0628464"
     fill="#e6e6e6"
     id="rect790"
     style="stroke-width:0.474333" />
                                                                                                                                                                                                                                                            <path
     d="m 337.23586,693.56281 1.57838,-13.02165 44.58933,-11.44327 -5.12975,-15.38925 c 3.57323,-10.24913 9.84667,-15.2735 21.30817,-10.25949 l 19.71524,12.24734 a 12.585468,12.585465 0 0 1 5.926,11.36992 v 0 a 12.575687,12.575684 0 0 1 -7.16004,10.68909 c -22.07089,10.46191 -50.20086,14.46517 -80.82733,15.80731 z"
     fill="#ffb8b8"
     id="path792"
     style="stroke-width:0.474333" />
                                                                                                                                                                                                                                                                <path
     d="m 339.99803,697.50877 -13.81085,-1.97297 -12.91764,2.63624 a 5.5793993,5.5793979 0 0 1 -6.69022,-5.23444 v 0 a 5.5794183,5.5794169 0 0 1 2.21717,-4.68846 l 20.24201,-15.25083 a 9.138587,9.1385851 0 0 1 11.83804,0.71616 l 5.04042,4.85373 c -3.60695,2.23764 -6.28896,5.59512 -7.89191,10.25948 q 5.19974,2.85849 1.97298,8.68109 z"
     fill="#2f2e41"
     id="path794"
     style="stroke-width:0.474333" />
                                                                                                                                                                                                                                                                    <ellipse
     cx="353.18875"
     cy="548.02368"
     fill="#ffb8b8"
     id="circle796"
     rx="12.772484"
     ry="12.77248"
     style="stroke-width:0.474333" />
                                                                                                                                                                                                                                                                        <path
     d="m 373.14407,573.21114 -28.60819,12.03517 c 2.3251,-11.67413 3.48383,-22.30866 0,-28.80548 l 18.3487,-2.17028 c -0.91076,4.99281 3.73152,11.67914 10.25949,18.94059 z"
     fill="#ffb8b8"
     id="path798"
     style="stroke-width:0.474333" />
                                                                                                                                                                                                                                                                            <path
     d="m 324.6088,693.16822 -10.65409,-0.78919 C 307.4279,665.162 304.08622,639.4363 305.5448,615.95822 a 13.279981,13.279978 0 0 1 13.54293,-12.47972 v 0 a 13.262207,13.262204 0 0 1 8.84114,3.65141 l 13.7776,13.11094 a 56.698792,56.698778 0 0 1 13.9598,20.78475 c 3.902,10.2197 2.50123,15.9489 -6.814,14.97597 a 22.986335,22.986329 0 0 1 -14.96724,-7.9575 l -10.06542,-11.69764 z"
     fill="#ffb8b8"
     id="path800"
     style="stroke-width:0.474333" />
                                                                                                                                                                                                                                                                                <path
     d="m 316.35828,725.51023 v 0 a 9.1150843,9.1150819 0 0 1 -8.03431,-12.03695 l 2.07942,-6.09963 1.57838,-15.38923 c 2.43135,-4.96142 5.87472,-4.21919 9.8649,-0.3946 2.53673,-0.24905 3.08124,-2.78565 2.76217,-6.31353 l 7.99939,10.76842 a 6.419542,6.4195406 0 0 1 0.68795,6.49103 l -8.05079,17.65979 a 9.115089,9.1150866 0 0 1 -8.88711,5.3147 z"
     fill="#2f2e41"
     id="path802"
     style="stroke-width:0.474333" />
                                                                                                                                                                                                                                                                                    <path
     d="m 417.1415,654.30055 c -14.60004,8.2865 -19.17595,8.52694 -33.73793,14.40274 l -12.62707,-7.10273 c -14.82961,5.48345 -25.23226,-2.03345 -36.50011,-13.21895 7.37372,-12.28167 4.11253,-28.24159 8.68111,-28.01629 l 54.65151,17.16491 2.36758,5.91894 z"
     fill="#2f2e41"
     id="path804"
     style="stroke-width:0.474333" />
                                                                                                                                                                                                                                                                                        <path
     d="m 399.58199,641.47619 c -19.29694,8.35255 -40.0743,-0.49076 -57.80828,-19.92708 l -11.74248,-47.42347 a 3.9578314,3.9578305 0 0 1 3.04888,-4.89741 l 13.62605,-2.72521 6.70812,10.65408 13.41627,-11.83787 14.24797,4.65799 a 11.000523,11.00052 0 0 1 7.41547,8.54772 z"
     fill="#ff9102"
     id="path806"
     style="stroke-width:0.474333" />
                                                                                                                                                                                                                                                                                            <path
     d="m 368.93118,681.67962 v 0 a 6.9682922,6.9682908 0 0 1 -2.83444,-11.01807 l 9.02034,-10.63936 6.31352,3.55136 -3.25107,13.25428 a 6.968288,6.9682861 0 0 1 -9.24835,4.85179 z"
     opacity="0.2"
     id="path808"
     style="stroke-width:0.474333" />
                                                                                                                                                                                                                                                                                                <path
     d="m 368.93118,680.10124 v 0 a 6.9682922,6.9682908 0 0 1 -2.83444,-11.01807 l 9.02032,-10.63936 6.31353,3.55135 -3.25108,13.25428 a 6.9682922,6.9682908 0 0 1 -9.24833,4.8518 z"
     fill="#ffb8b8"
     id="path810"
     style="stroke-width:0.474333" />
                                                                                                                                                                                                                                                                                                    <path
     d="m 383.00897,665.15193 -9.4703,-6.31353 13.81085,-36.6974 -5.12974,-51.69205 4.6795,2.92469 a 21.865586,21.865581 0 0 1 9.83084,14.14821 l 7.58702,36.9867 c -3.31977,17.04842 -8.85307,32.04847 -21.30817,40.64338 z"
     fill="#ff9102"
     id="path812"
     style="stroke-width:0.474333" />
                                                                                                                                                                                                                                                                                                        <polygon
     points="786.644,605.836 778.433,635.028 776.661,555.922 "
     opacity="0.2"
     id="polygon814"
     transform="matrix(0.47433264,0,0,0.47433264,8.8918003,342.8627)" />
                                                                                                                                                                                                                                                                                                            <path
     d="m 340.69749,546.92842 c 0,0 -7.36022,-24.08809 15.13467,-19.03618 3.48909,0.7836 6.50348,2.8118 8.90144,5.46465 a 2.16761,2.1676095 0 0 0 1.69454,0.69225 c 3.59343,0 5.81306,12.84097 -1.37379,18.48778 0,0 1.46645,-7.59862 -1.19911,-10.18777 a 5.7186966,5.7186951 0 0 1 -1.18646,-1.52762 c -1.7349,-3.49967 -7.56675,-4.64839 -11.58889,-4.35046 -2.05338,0.15211 -2.23291,3.73224 -4.50601,3.23219 -5.1722,-1.13783 -6.82322,4.85378 -5.87639,7.22516 z"
     fill="#2f2e41"
     id="path816"
     style="stroke-width:0.474333" />
                                                                                                                                                                                                                                                                                                                <path
     d="m 363.33882,582.68067 -0.14871,1.09062 -0.91921,6.7297 -1.50537,11.02081 -0.37688,2.75929 a 0.87897153,0.87897134 0 0 1 -0.87109,0.76024 h -10.03834 a 0.87921349,0.87921325 0 0 1 -0.8711,-0.7581 l -0.38337,-2.76143 -1.53075,-11.02081 -0.93545,-6.73461 -0.15031,-1.08361 a 0.87903799,0.87903775 0 0 1 0.87055,-1.00031 h 15.98894 a 0.87949335,0.87949311 0 0 1 0.87109,0.99821 z"
     fill="#e6e6e6"
     id="path818"
     style="stroke-width:0.474333" />
                                                                                                                                                                                                                                                                                                                    <path
     d="m 347.53806,578.76268 h 13.92234 a 0.879204,0.87920377 0 0 1 0.8792,0.8792 v 1.16147 a 0.87918024,0.87918005 0 0 1 -0.87918,0.87918 h -13.92234 a 0.879204,0.87920377 0 0 1 -0.8792,-0.8792 v -1.16147 a 0.87918024,0.87918005 0 0 1 0.87918,-0.87918 z"
     fill="#3f3d56"
     id="path820"
     style="stroke-width:0.474333" />
                                                                                                                                                                                                                                                                                                                        <path
     d="m 364.59658,583.14246 a 93.059045,93.059021 0 0 1 -20.19469,0 0.8791376,0.87913736 0 0 1 -0.87916,-0.87913 v 0 -1.16154 a 0.87914229,0.8791421 0 0 1 0.87916,-0.87914 82.743482,82.743463 0 0 0 20.19469,0 0.87914708,0.87914685 0 0 1 0.87913,0.87914 v 1.16154 a 0.87914708,0.87914685 0 0 1 -0.87913,0.87913 z"
     fill="#3f3d56"
     id="path822"
     style="stroke-width:0.474333" />
                                                                                                                                                                                                                                                                                                                            <ellipse
     cx="354.09177"
     cy="592.8399"
     fill="#ffffff"
     id="circle824"
     rx="3.794661"
     ry="3.7946601"
     style="stroke-width:0.474333" />
                                                                                                                                                                                                                                                                                                                                <path
     d="m 363.84714,600.82313 v 0 a 6.9682922,6.9682908 0 0 1 -8.55767,7.49653 l -13.56314,-3.25629 0.32431,-7.23655 13.29688,-3.07229 a 6.9682922,6.9682908 0 0 1 8.49962,6.0686 z"
     fill="#ffb8b8"
     id="path826"
     style="stroke-width:0.474333" />
                                                                                                                                                                                                                                                                                                                                    <path
     d="m 345.52238,606.35718 -36.60359,0.91508 a 9.0916048,9.0916024 0 0 1 -9.22745,-10.3745 v 0 a 9.0915906,9.0915882 0 0 1 2.78923,-5.35359 l 17.23416,-16.12228 a 23.014064,23.014059 0 0 1 11.48098,-5.81335 l 6.04015,-1.13253 3.55136,26.83252 -20.51898,-2.36758 24.07034,2.76218 z"
     fill="#ff9102"
     id="path828"
     style="stroke-width:0.474333" />
                                                                                                                                                                                                                                                                                                                                        <path
     d="m 297.3004,685.09408 h -93.44696 a 3.1333275,3.1333268 0 0 1 -3.13333,-3.13333 v 0 q 50.81176,-5.9053 99.71362,0 v 0 a 3.1333275,3.1333268 0 0 1 -3.13333,3.13333 z"
     fill="#2f2e41"
     id="path830"
     style="stroke-width:0.474333" />
                                                                                                                                                                                                                                                                                                                                            <path
     d="m 300.43373,682.14506 -99.71362,-0.18433 11.55646,-19.44507 0.0553,-0.0922 v -42.85471 a 3.9605636,3.9605627 0 0 1 3.9609,-3.9609 h 68.01539 a 3.9605636,3.9605627 0 0 1 3.96089,3.9609 v 43.14962 z"
     fill="#3f3d56"
     id="path832"
     style="stroke-width:0.474333" />
                                                                                                                                                                                                                                                                                                                                                <path
     d="m 216.20245,618.3726 a 1.2916409,1.2916406 0 0 0 -1.29019,1.29018 v 39.07446 a 1.2917026,1.2917023 0 0 0 1.29019,1.29019 h 68.74895 a 1.2917643,1.291764 0 0 0 1.29019,-1.29019 v -39.07445 a 1.2917026,1.2917023 0 0 0 -1.29019,-1.29018 z"
     fill="#ffffff"
     id="path834"
     style="stroke-width:0.474333" />
                                                                                                                                                                                                                                                                                                                                                    <path
     d="m 216.65428,665.18822 a 0.55449485,0.55449471 0 0 0 -0.50238,0.32183 l -3.5609,7.74117 a 0.55292007,0.55291993 0 0 0 0.50228,0.78407 h 74.88393 a 0.55288212,0.55288198 0 0 0 0.49445,-0.80025 l -3.87058,-7.74117 a 0.55013574,0.55013559 0 0 0 -0.49445,-0.30563 z"
     fill="#2f2e41"
     id="path836"
     style="stroke-width:0.474333" />
                                                                                                                                                                                                                                                                                                                                                        <ellipse
     cx="250.30045"
     cy="616.89807"
     fill="#ffffff"
     id="circle838"
     rx="0.82941329"
     ry="0.82941306"
     style="stroke-width:0.474333" />
                                                                                                                                                                                                                                                                                                                                                            <path
     d="m 242.93997,675.50978 a 0.5537881,0.55378795 0 0 0 -0.53386,0.40913 l -0.89322,3.31764 a 0.55289161,0.55289147 0 0 0 0.53386,0.69675 h 16.98702 a 0.55281097,0.55281083 0 0 0 0.52234,-0.73383 l -1.14836,-3.31764 a 0.55323313,0.55323299 0 0 0 -0.52252,-0.37205 z"
     fill="#2f2e41"
     id="path840"
     style="stroke-width:0.474333" />
                                                                                                                                                                                                                                                                                                                                                                <polygon
     points="588.99,672.346 588.99,673.901 428.781,673.901 428.901,673.706 428.901,672.346 "
     fill="#2f2e41"
     id="polygon842"
     transform="matrix(0.47433264,0,0,0.47433264,8.8918003,342.8627)" />
                                                                                                                                                                                                                                                                                                                                                                    <path
     d="m 180.07918,637.18925 a 83.077184,83.07717 0 0 0 3.88076,22.9652 c 0.0541,0.17253 0.11073,0.34247 0.16737,0.51503 h 14.48265 c -0.0155,-0.15452 -0.0309,-0.32704 -0.0464,-0.51503 -0.96568,-11.10149 -6.53315,-78.6683 0.12362,-90.22302 -0.58197,0.93736 -19.7308,31.98338 -18.60803,67.25782 z"
     fill="#e6e6e6"
     id="path844"
     style="stroke-width:0.474333" />
                                                                                                                                                                                                                                                                                                                                                                        <path
     d="m 181.1659,660.15445 c 0.12105,0.17253 0.24722,0.34506 0.37598,0.51503 h 10.8646 c -0.0824,-0.14679 -0.17769,-0.31931 -0.2884,-0.51503 -1.79488,-3.23954 -7.1074,-12.92469 -12.03884,-22.9652 -5.29967,-10.78989 -10.16156,-21.98922 -9.7521,-26.04251 -0.12624,0.91418 -3.79325,28.78244 10.83876,49.00771 z"
     fill="#e6e6e6"
     id="path846"
     style="stroke-width:0.474333" />
                                                                                                                                                                                                                                                                                                                                                                            <ellipse
     cx="17.3067"
     cy="460.41678"
     rx="53.164196"
     ry="108.47633"
     transform="rotate(-10.220477)"
     fill="#e6e6e6"
     id="ellipse854"
     style="stroke-width:0.474332" />
                                                                                                                                                                                                                                                                                                                                                                                <path
     d="m 90.019766,429.7364 q 7.01431,19.07348 12.483854,38.66667 5.45909,19.57463 9.3394,39.54445 3.88008,19.9633 6.15243,40.19411 2.26114,20.19538 2.90552,40.52853 0.64055,20.31131 -0.35371,40.63023 -0.12238,2.48936 -0.2696,4.9774 c -0.0999,1.69897 2.54329,1.69317 2.64282,0 q 1.19819,-20.38305 0.75182,-40.81661 -0.44883,-20.31668 -2.52317,-40.55395 -2.07937,-20.29634 -5.76128,-40.38752 -3.68415,-20.08239 -8.97086,-39.82628 -5.28342,-19.72176 -12.149884,-38.97338 -0.83778,-2.34734 -1.69892,-4.68623 c -0.58216,-1.583 -3.13733,-0.8988 -2.54842,0.70257 z"
     fill="#3f3d56"
     id="path856"
     style="stroke-width:0.474333" />
                                                                                                                                                                                                                                                                                                                                                                                    <path
     d="m 108.23015,479.75718 11.70869,-25.99783 3.30014,-7.32757 a 1.3619702,1.3619699 0 0 0 -0.47407,-1.80794 1.3317079,1.3317075 0 0 0 -1.80794,0.47405 l -11.7087,25.99785 -3.30014,7.32756 a 1.3619702,1.3619699 0 0 0 0.47407,1.80794 1.3317079,1.3317075 0 0 0 1.80794,-0.47406 z"
     fill="#3f3d56"
     id="path858"
     style="stroke-width:0.474333" />
                                                                                                                                                                                                                                                                                                                                                                                        <path
     d="M 110.81729,497.521 84.11931,487.51105 76.5944,484.68972 a 1.3325142,1.3325139 0 0 0 -1.6255,0.92293 1.350259,1.3502587 0 0 0 0.92292,1.62549 l 26.69799,10.00992 7.52491,2.82133 a 1.3325142,1.3325139 0 0 0 1.62549,-0.92292 1.3502495,1.3502492 0 0 0 -0.92292,-1.6255 z"
     fill="#3f3d56"
     id="path860"
     style="stroke-width:0.474333" />
                                                                                                                                                                                                                                                                                                                                                                                            <path
     d="m 90.027236,639.32053 c 0,0 32.154384,-10.5713 62.106424,0"
     fill="#e6e6e6"
     id="path862"
     style="stroke-width:0.474333" />
                                                                                                                                                                                                                                                                                                                                                                                                <path
     d="m 233.90452,634.31188 c 6.37166,-0.0663 12.74251,-0.18025 19.11388,-0.26682 q 3.18609,-0.0433 6.37233,-0.0759 c 1.83024,-0.0191 1.83492,-2.8651 0,-2.846 -6.37166,0.0663 -12.7425,0.18025 -19.11388,0.26682 q -3.18609,0.0433 -6.37233,0.0759 c -1.83024,0.0191 -1.83492,2.8651 0,2.846 z"
     fill="#ff9102"
     id="path864"
     style="stroke-width:0.474333" />
                                                                                                                                                                                                                                                                                                                                                                                                    <path
     d="m 233.90452,640.95253 25.75167,-0.26681 7.32386,-0.0759 c 1.83025,-0.019 1.83492,-2.86501 0,-2.846 l -25.75166,0.26681 -7.32387,0.0759 c -1.83025,0.019 -1.83492,2.865 0,2.84599 z"
     fill="#ff9102"
     id="path866"
     style="stroke-width:0.474333" />
                                                                                                                                                                                                                                                                                                                                                                                                        <path
     d="m 233.90452,647.59319 25.75167,-0.26682 7.32386,-0.0759 c 1.83025,-0.019 1.83492,-2.86501 0,-2.846 l -25.75166,0.26682 -7.32387,0.0759 c -1.83025,0.019 -1.83492,2.86501 0,2.846 z"
     fill="#ff9102"
     id="path868"
     style="stroke-width:0.474333" />
                                                                                                                                                                                                                                                                                                                                                                                                        </svg>
