<div class="container">
    <header>
        <nav>
            <div class="logo">
            </div>
            <ul>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <div>
            <h1>
                Hasan Özovalı
            </h1>
            <h3>Full-stack Web Developer</h3>
            <p>
                Hello I am workings as software developer
            </p>
        </div>
        <div class="links"></div>
    </header>
</div>
<div class="my-portfolio">
    <div class="project">
        <div class="project-name">
        </div>
        <div class="tags">
        </div>
        <div class="button">
        </div>
    </div>
</div>
<div class="about-me">
    <div class="intro">
    </div>
    <div class="known">
        <div class="languages">
        </div>
        <div class="frameworks">
        </div>
        <div class="skills">
        </div>
    </div>
</div>
<div class="contact">
    <div class="intro">
    </div>
    <div class="contact-+form">
    </div>
</div>
<footer>
    <div class="links">
    </div>
</footer>
