/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require reset  
 *= require_tree .
 *= require_self
 */

@import "bootstrap/scss/bootstrap";
@import "font-awesome";
$first-color: #ff9102;
$second-color: #2402ff;
$third-color: darken($second-color, 30%);
$fourth-color: lighten($second-color, 10%);

$colors: (
  first-color: $first-color,
  second-color: $second-color,
  third-color: $third-color,
  fourth-color: $fourth-color,
);

@each $name, $color in $colors {
  .bg-#{$name} {
    background-color: $color;
  }
  .text-#{$name} {
    color: $color;
  }
}

html {
  overflow-y: scroll;
}

* {
  scrollbar-color: $first-color $second-color;
}

::-webkit-scrollbar {
  width: 10px;
  background: $fourth-color;
}

::-webkit-scrollbar-thumb {
  background: $third-color;
}

body {
  color: $third-color;
  max-width: 100%;
  margin-left: 20px;
  margin-right: 20px;

  a {
    color: white;

    &:hover {
      color: $fourth-color;
      text-decoration-line: none;
    }
  }
}

.outer {
  position: relative;
}
nav {
  width: 100%;
  top: 0;
  background-color: #ffffff;
  z-index: 10;
}
.logo {
  width: 50px;
  height: 50px;
  background-color: red;
}
main {
  margin-top: 100px;
}

header {
  // background-image: url("https://loremflickr.com/cache/resized/65535_49878140401_7c7fd893d0_h_500_500_nofilter.jpg");
  background-size: cover;
}

.header-intro {
  bottom: 0px;
}

.header-image {
}

.links {
  font-size: 2em;
}

.custom-button {
  @extend .rounded-pill;
}

.project-name {
  top: 0px;
}

.one-project {
  font-size: 6vw;
}

.tags,
.buttons {
  display: flex;
}

.opac-layer {
  background-image: linear-gradient(#000000cc, transparent);
  opacity: 0.5;
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

.project-image,
.opac-layer {
  border-radius: 10%;
}

.inside-project {
}

@media only screen and (min-width: 768px) {
  .outer {
    position: static;
  }

  nav {
    width: 15%;
  }

  .nav-container {
    width: 15%;
    position: static;
  }

  .header-intro {
    width: 50%;
  }
  .header-image {
    width: 50%;
  }
  main {
    width: 85%;
    margin-top: 10px;
  }
  .one-project {
    font-size: inherit;
  }

  .tags,
  .project,
  .buttons {
    position: absolute;
  }

  .tags {
    top: 10%;
  }
  .buttons {
    top: auto;
    bottom: 10%;
  }
  .tags,
  .buttons {
    display: none;
  }

  .inside-project:hover .tags,
  .inside-project:hover .buttons {
    display: flex;
  }
}
